<a href="https://colab.research.google.com/github/RajasuganyaM/Python-programs/blob/master/suganya_task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# SUM OF THE SQUARES.


term=int(input("Adding the squares of numbers from 0 to : \t",))
i=0
sum=0
while i<=term:
# print(i)
#sum=sum+i
 sum=sum+(i**2)
 i+=1
# print(sum)

In [ ]:
# LCM OF TWO NUMBERS


def LCM(x,y):
  if x >y:
    greater = x
  else:
      greater=y

  while(True):
     if((greater % x == 0)and (greater % y ==0)):
       ans=greater
       break
      
     greater+=1

  return ans

x=13
y=57

print("LCM is :",LCM(x,y))

In [ ]:
#ADDING ELEMENTS IN ARRAY

arr=[10,20,30,40]
ans=sum(arr)
print(ans)

In [ ]:
#REVERSE ELEMENTS IN A LIST

mylist=['a','b','c','d']
mylist.reverse()
print("Reversed list",mylist)

Reversed list ['d', 'c', 'b', 'a']

In [ ]:
# FINDING THE SECOND LEAST NUMBER IN A LIST



lst=[10,65,55,99,41,5]
lst.sort()
lst[0]
lst[2]

In [ ]:

# COPYIG OR CLONING LIST

li1 = [4, 8, 5, 10, 15, 18] 
#li2 = li1[:] 
#li2= list(li1)
li2=li1.copy()
print("Original List:", li1) 
print("After Cloning:", li2)

Original List: [4, 8, 5, 10, 15, 18]
After Cloning: [4, 8, 5, 10, 15, 18]

In [8]:
#  FIND ODD AND EVEN NUMBERS IN A LIST 


mylist=[20,55,44,37,21,98,100,4,2,3,1,11]

only_odd=[num for num in mylist if num%2 == 1 ]

only_even=[num for num in mylist if num%2 == 0]

print(only_even)

print (only_odd)

[20, 44, 98, 100, 4, 2]
[55, 37, 21, 3, 1, 11]

In [21]:
#BREAKING LIST INTO CHUNKS

mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9,10,11,12,13,14]  
   
n = 3
   
# using list comprehension  

x = [mylist[i:i+n] for i in range(0, len(l), n)]  
print(x)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14]]

In [ ]:
# CONVERTING ASCII TO NUMBER AND VICE VERSA.


#ord('A')
x=input("Enter any character : \t")
ord(x)
y=int(input("Enter any number: \t"))
chr(y)
ord(x)

Enter any character : 	%
Enter any number: 	67

37